.tangram--bougie {
    top: 64px;
}

.tangram--bougie .figure1 {
    transform: rotate(225deg) translate(-363px, 0px);
    transition: transform 2s;
}

.tangram--bougie .figure2 {
    transform: translate(360px, -335px) rotate(115deg) skew(135deg);
    transition: transform 2s;

}

.tangram--bougie .figure3 {
    transform: translate(165px, -105px);
    transition: transform 2s;
}

.tangram--bougie .figure4 {
    transform: rotate(270deg) translate(-640px , 128px);
    transition: transform 2s;
}

.tangram--bougie .figure5 {
    transform: translate(-128px , 128px);
    transition: transform 2s;
}

.tangram--bougie .figure6 {
    transform: translate(128px , 128px);
    transition: transform 2s;
}

.tangram--bougie .figure7 {
    transform: translate(0px , 512px);
    transition: transform 2s;
}