/* TRIANGLE VERT POMME */
.tangram--rocket .figure1 {
    transform: translate(450px,-40px) rotate(90deg);
    transition: transform 2s;
}

/* TRAPÈZE VIOLET */
.tangram--rocket .figure2 {
    transform: translate(450px, 728px) rotate(-90deg) skew(-45deg);
    transition: transform 2s;
}

/* CARRÉ ROUGE */
.tangram--rocket .figure3 {
    transform: translate(194px,472px) rotate(45deg);
    transition: transform 2s;
}

/* TRIANGLE ORANGE */
.tangram--rocket .figure4 {
    transform: translate(450px, -40px) rotate(180deg);
    transition: transform 2s;
}

/* TRIANGLE JAUNE */
.tangram--rocket .figure5 {
    transform: translate(706px, 472px) rotate(180deg);
    transition: transform 2s;
}

/* TRIANGLE BLEU */
.tangram--rocket .figure6 {
    transform: translate(66px, 600px);
    transition: transform 2s;
}

/* TRIANGLE VERT FONCÉ */
.tangram--rocket .figure7 {
    transform: translate(194px, 728px) rotate(-90deg);
    transition: transform 2s;
}